@if (TempData["MsgSuccess"] != null)
{
    <div class="message-alert">
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @Html.Raw(TempData["MsgSuccess"])
        </div>
    </div>
}
@if (TempData["MsgInfo"] != null)
{
    <div class="message-alert">
        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @Html.Raw(TempData["MsgInfo"])
        </div>
    </div>
}
@if (TempData["MsgWarning"] != null)
{
    <div class="message-alert">
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @Html.Raw(TempData["MsgWarning"])
        </div>
    </div>
}
@if (TempData["MsgDanger"] != null)
{
    <div class="message-alert">
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @Html.Raw(TempData["MsgDanger"])
        </div>
    </div>
}
