<div class="modal" id="ModalComfirm" tabindex="-1" role="dialog" aria-labelledby="ModalComfirm" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="ModalComfirmLabel" tm-lang="Global.notification">Modal comfirm title</h4>
                <button id="ModalComfirmBtnTimes" type="button" class="close isTooltip" data-dismiss="modal" aria-label="Close" title="Global.close"><span aria-hidden="true">&times;</span> </button>
            </div>
            <div id="ModalComfirmBody" class="modal-body" tm-lang="Global.msgRemoveRecord"></div>
            <div class="modal-footer">
                <button id="ModalComfirmBtnClose" type="button" class="btn btn-secondary" data-dismiss="modal" tm-lang="Global.cancel">Close</button>
                <button id="ModalComfirmBtnConfirm" type="submit" class="btn btn-primary" data-dismiss="modal" tm-lang="Global.confirm"></button>
            </div>
        </div>
    </div>
</div>