@{
    //ViewData["Title"] = "Đăng nhập quản trị";
    //ViewData["ContentTitle"] = "Đăng nhập quản trị";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@TM.Encrypt.MD5.CryptoMD5TM("adminab433acc-feda-4761-ae82-853c1c8429aa")
<div class="container body-content login-form">

    @using (Html.BeginForm())//"Login", "Auth"
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3" for="username">Tài khoản</label>
                    <div class="col-md-9">
                        <input name="username" class="form-control text-box single-line"
                               id="username" aria-invalid="true" aria-required="true" aria-describedby="username-error"
                               type="text" value="" data-val-required="Vui lòng nhập tài khoản" data-val="true">
                        <span class="text-danger field-validation-error" data-valmsg-replace="true" data-valmsg-for="username"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3" for="password">Mật khẩu</label>
                    <div class="col-md-9">
                        <input name="password" class="form-control text-box single-line password"
                               id="password" aria-invalid="true" aria-required="true" aria-describedby="password-error"
                               type="password" value="" data-val-required="Vui lòng nhập mật khẩu" data-val="true">
                        <span class="text-danger field-validation-error" data-valmsg-replace="true" data-valmsg-for="password"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12 col-md-offset-3">
                        <input type="submit" value="Đăng nhập" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    }
</div>